body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px black;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-card h1 {
    margin-top: 10px;
    color: black;
}

.profile-card p {
    color: gray;
}

.profile-card em {
    font-style: italic;
    color: black;
}